/* Space */
img.s {
    object-fit: none;
    object-position: -64px -64px;
    width: 64px;
    height: 64px;
}

/* UI */
img.red_cursor {
    object-fit: none;
    object-position: -384px 0px;
    width: 64px;
    height: 64px;
}

img.green_cursor {
    object-fit: none;
    object-position: -448px 0px;
    width: 64px;
    height: 64px;
}

/* Arrow from king */
img.k84 {
    object-fit: none;
    object-position: 0px 0px;
    width: 64px;
    height: 64px;
}

img.k73 {
    object-fit: none;
    object-position: -64px 0px;
    width: 64px;
    height: 64px;
}

img.k62 {
    object-fit: none;
    object-position: -128px 0px;
    width: 64px;
    height: 64px;
}

img.k15 {
    object-fit: none;
    object-position: 0px -64px;
    width: 64px;
    height: 64px;
}

img.k51 {
    object-fit: none;
    object-position: -128px -64px;
    width: 64px;
    height: 64px;
}

img.k26 {
    object-fit: none;
    object-position: 0px -128px;
    width: 64px;
    height: 64px;
}

img.k37 {
    object-fit: none;
    object-position: -64px -128px;
    width: 64px;
    height: 64px;
}

img.k48 {
    object-fit: none;
    object-position: -128px -128px;
    width: 64px;
    height: 64px;
}

/* 2 points arrows */
img.a1 {
    object-fit: none;
    object-position: -256px -64px;
    width: 64px;
    height: 64px;
}

img.a84 {
    object-fit: none;
    object-position: -192px 0px;
    width: 64px;
    height: 64px;
}

img.a73 {
    object-fit: none;
    object-position: -256px 0px;
    width: 64px;
    height: 64px;
}

img.a62 {
    object-fit: none;
    object-position: -320px 0px;
    width: 64px;
    height: 64px;
}

img.a15 {
    object-fit: none;
    object-position: -192px -64px;
    width: 64px;
    height: 64px;
}

img.a51 {
    object-fit: none;
    object-position: -320px -64px;
    width: 64px;
    height: 64px;
}

img.a26 {
    object-fit: none;
    object-position: -192px -128px;
    width: 64px;
    height: 64px;
}

img.a37 {
    object-fit: none;
    object-position: -256px -128px;
    width: 64px;
    height: 64px;
}

img.a48 {
    object-fit: none;
    object-position: -320px -128px;
    width: 64px;
    height: 64px;
}

/* 4 points arrows */
img.a4884 {
    object-fit: none;
    object-position: -0px -192px;
    width: 64px;
    height: 64px;
}
img.a8484 {
    object-fit: none;
    object-position: -0px -192px;
    width: 64px;
    height: 64px;
}

img.a3773 {
    object-fit: none;
    object-position: -64px -192px;
    width: 64px;
    height: 64px;
}
img.a7337 {
    object-fit: none;
    object-position: -64px -192px;
    width: 64px;
    height: 64px;
}

img.a2662 {
    object-fit: none;
    object-position: -128px -192px;
    width: 64px;
    height: 64px;
}
img.a6226 {
    object-fit: none;
    object-position: -128px -192px;
    width: 64px;
    height: 64px;
}

img.a1551 {
    object-fit: none;
    object-position: -128px -256px;
    width: 64px;
    height: 64px;
}
img.a5115 {
    object-fit: none;
    object-position: -128px -256px;
    width: 64px;
    height: 64px;
}

/* Square */
img.sq {
    object-fit: none;
    object-position: -64px -256px;
    width: 64px;
    height: 64px;
}

/* Pieces */
img.pc_0 {
    object-fit: none;
    object-position: 0px -256px;
    width: 64px;
    height: 64px;
}

img.pc_k {
    object-fit: none;
    object-position: 0px -320px;
    width: 64px;
    height: 64px;
}

img.pc_g {
    object-fit: none;
    object-position: -64px -320px;
    width: 64px;
    height: 64px;
}

img.pc_s {
    object-fit: none;
    object-position: -128px -320px;
    width: 64px;
    height: 64px;
}

/* Play-off arrows */
img.po84 {
    object-fit: none;
    object-position: -192px -192px;
    width: 64px;
    height: 64px;
}

img.po73 {
    object-fit: none;
    object-position: -256px -192px;
    width: 64px;
    height: 64px;
}

img.po62 {
    object-fit: none;
    object-position: -320px -192px;
    width: 64px;
    height: 64px;
}

img.po15 {
    object-fit: none;
    object-position: -192px -256px;
    width: 64px;
    height: 64px;
}

img.po51 {
    object-fit: none;
    object-position: -320px -256px;
    width: 64px;
    height: 64px;
}

img.po26 {
    object-fit: none;
    object-position: -192px -320px;
    width: 64px;
    height: 64px;
}

img.po37 {
    object-fit: none;
    object-position: -256px -320px;
    width: 64px;
    height: 64px;
}

img.po48 {
    object-fit: none;
    object-position: -320px -320px;
    width: 64px;
    height: 64px;
}
